<ion-header [translucent]="true">
  <ion-toolbar color="orange">
    <ion-title>การตั้งค่า</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true" color="oranges">
  <ion-card class="img-profile">
    <ion-img src="assets/img/Profile.jfif"
    ></ion-img>
  </ion-card>

<ion-card>
  <ion-item>
    <ion-label>ชื่อ : </ion-label>
    <ion-input> </ion-input>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>นามสกุล : </ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card>
  
<ion-card>
  <ion-item>
    <ion-label>อีเมล : </ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card>
  
<ion-card>
  <ion-item>
    <ion-label>โทรศัพท์ : </ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card>

<ion-card>
  <ion-item>
    <ion-label>ที่อยู : </ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-card>
  
  <Br>
    <br>
    <ion-button  color="orangesa" class="btn-con" (click)="Homes()">ยืนยัน</ion-button>
</ion-content>
