<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar color="oranges">
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" color="orange">
 
<br>
<ion-card class="img-border">
  <ion-img src="assets/img/logoa.jfif" ></ion-img>
</ion-card> 

<ion-grid>
    <ion-col>
        <header class="Name-logo">Som UR Day</header>
    </ion-col>
    <ion-col>
        <ion-item>
          <p>Gmail :</p>
          <br>
            <ion-input></ion-input>
          </ion-item>
          <br>
        </ion-col>
          <ion-col>
          <ion-item >
            <p>Password :</p>
            <ion-input></ion-input>
          </ion-item>
    </ion-col>
</ion-grid>
<ion-button  expand="block" (click)="detail()">Login</ion-button>
<ion-button expand="block" (click)="As()">Sigup</ion-button>
</ion-content>


